.Card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid red;
    border-radius: 10px;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Card:hover{
    background-color: rgb(230, 139, 139);
}